/*h1{
  color: orange;
  display: inline;
  border: 10px red solid;
}

h2{
  color : red;
  border: 10px chocolate;
  display: inline;
}

#heading1{
  background-color: yellow;
}

.ml500{
  margin-left: 250px;
}*/
