<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img id="logo" width="69px" src="http://icons.iconarchive.com/icons/indeepop/fun/256/Cosmo-Girl-icon.png" alt="ERROR LOADING IMAGE"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/css-demo">Special Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Instruction">Instruction For Beginner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/List">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Page</a>
      </li>
    </ul>
    <a href="#">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </a>
    <a href="/login">
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Login</button>
      </form>
    </a>
  <a href="/sign up">
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button>
    </form>
  </a>
  </div>

</nav>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Username</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Email</span>
  <input type="text" class="form-control" placeholder="@yahoo.com" aria-label="@yahoo.com" aria-describedby="basic-addon1">
</div>
<br>
<button class="btn btn-primary"type="button" name="button">Create</button>
  </body>
</html>
